# Dependencies
node_modules/
.pnp
.pnp.js
venv/
env/
ENV/
.env

# Build
dist/
build/

# IDE / OS
.vscode/
.idea/
.DS_Store
*.swp
*.swo

# Python
__pycache__/
*.py[cod]
*$py.class
backend/.env
backend/requirements.txt.tmp

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
